* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

#top-nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    height: 50px;
}

.top-nav-items {
    margin: 0px 10px;
}

#box1 {
    width: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100px;
    background-color: rgb(209, 142, 18);
    align-items: center;
    padding: 10px 10px 20px 10px;
    color: white;
    border: 1px solid white;
    /* border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; */
    border-radius: 0 0 10px 10px;
    z-index: 999;
}

#links {
    color: white;
}

#links a {
    margin: 0px 10px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.itemsnav {
    display: inline-block;
}


/* #item1 {
    float: left;
}

#item2 {
    float: right;
    clear: both;
} */

#navcont {
    position: absolute;
    top: 80px;
    z-index: 999;
    overflow: visible;
}

.hide {
    display: none;
}

.show {
    display: block;
    position: relative;
}


/* .slider1 {
    z-index: -1;
} */

#item1>h4 {
    color: rgb(209, 142, 18);
    font-weight: bold;
    text-shadow: 2px 2px;
}

#search {
    margin-left: 250px !important;
    position: absolute;
    bottom: 300px;
}

#main {
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 500px;
}

.round {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

#bmain {
    margin-top: 70px;
    height: auto;
    background-color: rgb(209, 142, 18);
}

.imgs {
    width: 100px;
    border-radius: 100%;
}

#subsecs video {
    height: 200px;
}

#subsec3 {
    display: flex;
}

#subsec3 h5 {
    font-size: 1rem;
}

#subsubsec>img {
    margin: 0 25px;
}